// Mixin
@mixin responsive($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}

@mixin flex($direction, $align, $justfy) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justfy;
}

// Grid
.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0rem 1.5rem;
  @include responsive(1200px) {
    padding: 0rem 3rem;
  }
}

// Text
h1,
h2,
h3,
h4,
a,
p,
span {
  letter-spacing: 0.01em;
}

h1 {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 6.2rem;
  @include responsive(991px) {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 4.2rem;
  line-height: 5.4rem;
  @include responsive(991px) {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

h3 {
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 4.1rem;
  @include responsive(991px) {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }
}

h4 {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.1rem;
  @include responsive(991px) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

p {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.6rem;
}

a,
li {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

// Pallet Color
$light: rgba(252, 252, 252, 1);
$dark: rgba(10, 10, 10, 1);
$red: rgba(188, 52, 52, 1);
$marrom: rgba(188, 153, 121, 1);
$m-gold: rgba(207, 179, 105, 1);
$m-orange: rgba(201, 112, 49, 1);
$salmon: rgba(255, 180, 126, 1);
$gray_100: rgba(0, 0, 0, 0.25);
$gray_75: rgba(51, 51, 51, 1);
$gray_50: rgba(167, 151, 132, 1);
$gray_25: rgba(237, 237, 237, 1);
$gray_0: rgba(248, 248, 248, 1);
